body {
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}

* {
  /* outline: 1px solid red; */
  box-sizing: border-box;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

header {
  align-items: center;
  background: #fff;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  height: 50px;
  width: auto;
}

#btn-menu {
  display: none;
}

header label {
  cursor: pointer;
  display: none;
  font-size: 20px;
  margin-right: 15px;
}

.menu ul {
  background: #fff;
  display: flex;
  list-style: none;
}

.menu ul ul {
  display: none;
  position: absolute;
}

.menu a {
  display: block;
  color: #1d1818;
  padding: 15px 20px;
  text-decoration: none;
}

.menu a:hover {
  background: rgba(0, 0, 0, 0.3);
}

.menu a span {
  margin-left: 10px;
}

.menu ul li:hover ul {
  display: block;
  position: absolute;
}

@media (max-width: 768px) {
  header label {
    display: block;
  }
  .menu {
    left: 0;
    position: absolute;
    top: 50px;
    transform: translateX(-100%);
    transition: all 0.3s;
    width: 50%;
  }
  .menu ul {
    background: #555;
    display: block;
  }
  .menu ul li:hover ul {
    display: none;
    position: static;
  }
  .menu a span {
    position: absolute;
    right: 0;
  }
  #btn-menu:checked ~ .menu {
    transform: translateX(0%);
  }
  .menu ul ul {
    background: rgba(0, 0, 0, 0.4);
  }
  .menu ul ul a {
    padding: 15px 40px;
  }
}

@media only screen and (max-width: 1024px) {
  .logo {
    width: 100%;
  }
}

@media only screen and (max-width: 1440px) {
  .cookies {
    position: fixed;
    bottom: 0px;
    right: 12px;
  }
}

@media only screen and (max-width: 768px) {
  .header-social-networks.style-icons a {
    display: inline-block;
    font-size: 18px;
    padding: 0px 0px;
  }

  .logo {
    width: 65%;
  }

  .wrapper {
    position: fixed;
    bottom: 70px;
    right: 80px;
    z-index: 1000;
    overflow-x: hidden;
  }

  .cookies {
    position: fixed;
    bottom: 0px;
    right: 80px;
  }

  .top-of-site-link {
    position: fixed;
    bottom: 40px;
    right: 80px;
  }
}
